@import '@economist/component-silver-tab-bar';
/* Wrapper for entire Editor occupies right half of available space...*/
.silverbullet-editor-wrapper {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  /*position: relative;*/
}

/* Header occupies top 30px and sprawls left across chart component */
.editor-header-wrapper {
  position: absolute;
  top:0;
  right: 0;
  width: 200%;
  height: 30px;
  pointer-events: none;
}

/* Outer wrapper for form */
.editor-form-outer-wrapper {
  position: absolute;
  /*top: -10px;*/
  height: 95%;
  width: 95%;
  margin-left: 3%;
  overflow: hidden;
}

/* Scrollable container for form */
.editor-form-accordion {
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  list-style:none;
  font-family: 'OfficinaSanITC-Book';
  font-size: 12px;
  font-weight: normal;
  margin:0;
  padding:0;
}

.editor-form-accordion li{
    float:none;
    /* Default height is 'header' only */
    height:40px;
    width:100%;
    padding:0;
    margin:0;
    -moz-transition:height 0.2s ease-out;
    -webkit-transition:height 0.2s ease-out;
    -o-transition:height 0.2s ease-out;
    transition:height 0.2s ease-out;
    overflow:hidden;
    -moz-transition-delay:0.15s;
    -webkit-transition-delay:0.15s;
    -o-transition-delay:0.15s;
    transition-delay:0.15s;
}


/* Each fold li has a specific height */
.editor-form-accordion li.data-fold {
    height:250px;
}
.editor-form-accordion li.layout-fold {
    height:250px;
}
.editor-form-accordion li.scales-fold {
    height:150px;
}
/*.editor-form-accordion li.strings-section {
    height:250px;
}
.editor-form-accordion li.timeseries-section {
    height:250px;
}
.editor-form-accordion li.platform-section {
    height:300px;
}
.editor-form-accordion li.doublescale-section {
    height:200px;
}
.editor-form-accordion li.style-section {
    height:150px;
}
.editor-form-accordion li.scales-section {
    height:300px;
}
.editor-form-accordion li.finish-section {
    height:400px;
}*/


/* Defaults for section head and body, which are children of li-->div... ; */
.editor-form-accordion li>div:first-child{
    /* section head div */
    border-color: #DEDEDE;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    height:40px;
    width: 100%;
    background-color: white;
    font-family: Officina;
}
.editor-form-accordion li>div:not(:first-child){
    /* section body div */
    border-top: #DEDEDE solid 1px;
    height:260px;
    width: 100%;
    background-color: #EFEFEF;
}

/* Provisionally each section head contains two items: a span and a div (btn) */
/* Accordian header buttons */
/* General button attributes, over-ridden in specific instances... */
.editor-form-accordion li>div:first-child div{
    float: left;
    width: 20%;
    height: 95%;
    background-color:#DDDDDD;
    border:#CCC 1px solid;
    color:#999999;
    font-family: 'OfficinaSanITC-Book';
    font-size:14px;
    line-height: 3em;
    padding:0;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
.editor-form-accordion li>div:first-child div:hover {
    background-color: #AAAAAA;
    color: #000000;
}
.editor-form-accordion li>div:first-child div:active {
    font-weight: bold;
    background-color: #CCCCCD;
    letter-spacing: -1px;
}

.editor-form-accordion li>div:first-child span{
    float: left;
    height: 95%;
    width: 75%;
    background-color: white;
    font-family: 'OfficinaSanITC-Book';
    font-size:14px;
    font-weight: normal;
    line-height: 3em;
    text-align: right;
    margin:0;
    padding:0;
}



/* Context choices wrapper: left half of Editor header */
.chart-context-choices-div {
  position: absolute;
  top: 0;
  left: 2px;
  width: 49%;
  height: 100%;
  pointer-events: all;
}
/* Reset button wrapper: right half of Editor header */
.chart-reset-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  pointer-events: none;
  /* NOTE: I've hidden the reset button for now...*/
  display: none;
}

/*
.context-choice {
  height:100%;
  float:left;
  width: 49%;
  background-color: #ccc;
  text-align: center;
  line-height: 2em;
  margin-right: 1%;
}
.context-choice:hover {
  background-color: #888;
}
.context-choice:active {
  color: #f00;
}
*/

/* Editor form... */
/* Main form header */
/*#json-editor > div > h3 > span {
  padding-left: 5px;
}*/
/* Form content */
.form-control {
  font-family: 'OfficinaSanITC-Book' !important;
  font-size: 12px;
}
.form-control label {
  font-weight: normal;
  color: #555;
  margin-bottom: 0 !important;
  margin-top: 5px !important;
}
.form-control textarea {
  font-family: 'OfficinaSanITC-Book' !important;
  height: 120px !important;
  margin-top: 3px !important;
  tab-size: 30;
}
.form-control input {
  width: 95%;
  padding: 3px 0 0 0;
}
.form-control p {
  padding-top: 7px;
  font-style: normal !important;
  font-size: 14px !important;
}
.form-control p span {
  background-color: #444;
  border-color: #444;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid #444;
}
.form-control p span:hover {
  background-color: #888;
  border-color: #888;
}
.form-control p span:active {
  color: red;
}

.silverbullet-reset-button {
  margin: 0;
  top: 5px;
  height: 100%;
  width: 100px;
  position: absolute;
  right: 12px;
  background-color: #444;
  color: white;
  cursor: pointer;
  pointer-events: all;
}
.silverbullet-reset-button p {
  text-align: center;
  line-height: 0.2em;
}
.silverbullet-reset-button:hover {
  background-color: #888;
}
.silverbullet-reset-button:active {
  color: #f00;
}

/*
.silverbullet-reset-button {
  position: relative;
  right: 10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.silverbullet-reset-button:hover {
  background-color: #888;
}
.silverbullet-reset-button:active {
  color: #f00;
}*/

.editor-type-select {
  position: absolute;
  top: 100px;
  left: 50px;
}

.editor-section-select {
  position: absolute;
  top: 100px;
  left: 150px;
}
